# Archivos y directorios de .NET
/webmotos/Debug/
/webmotos/bin/
/webmotos/obj/
/webmotos/*.user
/webmotos/*.suo
/webmotos/*.userosscache
/webmotos/*.sln.docstates
/webmotos/project.lock.json
/webmotos/project.fragment.lock.json
