
@{
    ViewData["Title"] = "Lugar";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubicación - Motos Sur Tacna</title>
    <link rel="stylesheet" href="~/css/lugar.css">

</head>
<body>
    <div class="map-wrapper">
        <!-- Título y dirección -->
        <div class="map-header">
            <h1>🏍️ Motos Sur Tacna</h1>
            <p>📍 Dirección: Av. La Cultura 23004, Tacna 23004</p>
        </div>

        <!-- Mapa -->
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4539.506283816216!2d-70.25857762402957!3d-18.042626482323904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915acf71b68c94b3%3A0xeec9acaeb42642fa!2sMotos%20sur%20tacna!5e1!3m2!1ses-419!2spe!4v1738211588549!5m2!1ses-419!2spe" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <!-- Enlace -->
        <a href="https://maps.app.goo.gl/6GX3Q5AfCEQXqX6M7" target="_blank" class="map-link">Ver en Google Maps</a>
    </div>




    

</body>
</html>




 